body{
    background-color: lightblue;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

/* Main */
/* .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  } */
  
  /* On mouse-over */
  /* .btn:hover {background: #526daf;}
  
  .success {
    color: black;
    font-weight: 800; */
/* } */

.registerbtn {
    margin: 25px;
    border:black;
    background-color:gray;
    border-width: 5px;
    border-radius: 10%;

}
.table {
    border: 5px ridge rgb(0, 9, 128);
}

#circle {
    width:150px;
    height: 150px;
    float: right;
    border: 8px rgb(202, 22, 22) solid;
    border-width: 5px;
    border-radius: 50%;
}

#square {
    width:250px;
    height: 150px;
    float: right;
    border: 8px rgb(202, 22, 22) solid;
    border-width: 5px;

}

#footer {
    color: blue;
    justify-content: center;
        width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    margin: 50px;
}

.container2 {
    margin: 50px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}